### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Created by .ignore support plugin (hsz.mobi)
libraries
www/bower_components
www/app/app.min.js
www/app/style.min.css
www/app/vendor.min.js
www/maps
vendor.css
nafue
.env
www/dist
bower_components
