Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["secure.nafue.com"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  "/tmp/server.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://s3.amazonaws.com/secure.nafue.com/cert.pem"
  "/tmp/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://s3.amazonaws.com/secure.nafue.com/privkey.pem"

container_commands:
  move_cert:
    command: "mv /tmp/server.crt /etc/pki/tls/certs/"
  move_key:
    command: "mv /tmp/server.key /etc/pki/tls/certs/"
