.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.slim-top-margin {
    margin-top: 5px;
}
.for-site-indexing {
    height: 0;
    width: 0;
    opacity: 0;
}

.full-width {
    width: 100%;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline {
    display: inline;
}

.clearfix {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}
.background-light-gray {
    background-color: #dedada;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.background-red {
    background-color: #c27979;
}
.background-dark-red {
    background-color: #756767;
}
.background-gray {
    background-color: #777777;
}
.background-green {
    background-color: #5cc279;
}
.background-dark-green {
    background-color: #67756b;
}

@media (max-width: 767px) {
    .full-width-mobile {
        margin: 0 !important;
        padding: 0 2px !important;
        width: 100%;
    }
}