.apps-icons{
    text-align: center;
    margin: 0;
    padding: 0;
}
.apps-icons i {
    font-size: 130px;
    margin: 0;
    padding: 0;
}
.apps-icons p {
    padding: 0;
    margin: 0;
}
.apps-icons h3 {
    padding: 0;
    margin: 5px 0 0 0;
}
