html {
    font-family: Vollkorn;
}
h2 {
    font: 20px bold inherit;
}
.input-text {
    color: #000;
    font-size: 20px;
    padding: 8px 0;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
    width: 100%;
}
input[placeholder]{
    text-align:center;
    color: #bbb;
}
.full-width {
    width: 100%;
}
.btn {
    color: #fff;
    font-size: 20px;
    padding: 8px 0;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
}
.btn:focus {
    background-color: #ccc;
}
.clearfix {
    clear: both;
}
.text-center {
    text-align: center;
}

.dropZone {
    width: 100%;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}
.dropZone h2 {
    padding: 50px 0;
    clear: both;
}

.dropSelect {
    float: left;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #bbb;
    display: inline-block;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ccc;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
}