html {
    font-family: Vollkorn;
    color: #999;
}
h2 {
    font: 20px bold inherit;
}
h3 {
    font: 15px bold inherit;
}
a {
    color: #999;
}
a:hover {
    color: #777;
}
.text-red {
    color: #c94343;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-text {
    color: #000;
    font-size: 20px;
    padding: 8px 0;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
    width: 100%;
}
input[placeholder]{
    text-align:center;
    color: #999;
}
.full-width {
    width: 100%;
}
.btn {
    color: #fff;
    font-size: 1em;
    padding: 8px 8px;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
    background: #999;
}
.btn[disabled] {
    background: #ccc;
}
.btn[disabled]:hover {
    background: #ccc;
}
.btn:hover {
    background-color: #777;
}
.clearfix {
    clear: both;
}
.text-center {
    text-align: center;
}

.dropZone {
    width: 100%;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #999;
}
.dropZone h2 {
    padding: 50px 0;
    clear: both;
}

.dropSelect {
    float: left;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #999;
    display: inline-block;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #777;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
}
.missing {
    color: #999;
}
.present {
    color: #00aa00;
}
.bold {
    font-weight: bold;
}
#linkToShare {
    width: 100%;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #999;
}

