.dropZone {
    width: 100%;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #999;
}

.dropZone h3 {
    padding: 50px 0;
    clear: both;
    font-weight: 400;
}

.dropSelect {
    float: left;
}

#linkToShare {
    width: 100%;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #999;
}

@media (max-width: 767px) {
    .dropSelect {
        float: none;
    }
    .dropZone {
        padding: 10px 0;
    }
    #linkToShare {
        font-size: 12px;
    }
}
.passwordStrength {
    margin: 5px 0 10px 0;
    min-height: 60px;
}
.passwordStrengthIndicator {
    width: 100%;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .passwordStrengthIndicator {
        width: 18.3%;
        height: 10px;
    }
    .passwordStrengthIndicator p {
        opacity: 0;
    }
    .passwordStrength {
        min-height: 10px;
    }
    #passwordSuggestions {
        display: none;
    }
}
.passwordStrengthIndicator p {
    margin: 0;
    padding: 0;
}
#passwordSuggestions {
    text-align: left;
    margin-top: 4px;
}