.step i {
    padding: 0;
    margin: 0;
    font-size: 200px;
    text-align: center;
    height: 190px;
}
.step h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}
.step p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobile-break {
    margin: 5px 0px;
}
.slide-bg-protect {
    background: url("img/bg-lock.gif") no-repeat;
    background-size: auto 100%;

}
.slide-bg-share {
    background: url("img/bg-share.gif") no-repeat right;
    background-size: auto 100%;

}
.slide-bg-download {
    background: url("img/bg-cloud.gif") no-repeat center center;
    background-size: auto 100%;

}
.read-more-container h1 {
    padding: 0 0 4px 0;
    margin: 0;
    border-bottom: solid 4px #5cc279;
}
.read-more-container h4 {
    margin: 15px 0 0 0;
    padding: 0;
}
.read-more-container p {
    margin: 7px 0;
    padding: 0;
}

@media (max-width: 767px) {
    h2 {
        font-size: 18px;
    }

    .mobile-title {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .how-it-works-mobile-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #fp-nav {
        display: none;
    }
    .step img {
        height: 70px;
    }

    .fp-tableCell {
        padding: 0 !important;
    }
    .read-more-container h1 {
        font-size: 18px;
    }
    .read-more-container h4 {
        font-size: 14px;
    }
    .read-more-container p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
    }
}