
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.input-text {
    color: #000;
    font-size: 20px;
    padding: 8px 0;
    border: 2px dashed #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
    width: 100%;
}

input {
    margin: 4px 0;
    padding: 6px 6px;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none !important;
}
.input-small {
    padding: 4px 4px;
    margin: 4px 0;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

input[placeholder] {
    text-align: center;
    color: #999;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 400;
    color: white;
    background-color: #777;
    display: inline-block;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #999;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
}
